
    .abc {
        background-color: beige;
        padding: 20px;
        transition: box-shadow 0.2s;
        border-radius: 4px;
        border: solid rgb(93, 236, 219);
    }
    .abc:hover {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .abc:active {
        background-color: rgb(214, 214, 188);
    }